 <a href="./assets/img/burger.png"> <img border="0" alt="burgeryum" src="./assets/img/burger.png" width="auto" height="200"> </a>

<h1>Burgers!</h1>

<h2>Burgers that are ready to be ordered!</h2>

<ul>
  {{#each burgers}}
    {{#unless devoured}}
      {{> burgers/burger-block devour=true}}
    {{/unless}}
  {{/each}}
</ul>

<h2>Burgers that are sold out!</h2>

<ul>
  {{#each burgers}}
    {{#if devoured}}
      {{> burgers/burger-block devour=false}}
    {{/if}}
  {{/each}}
</ul>

<h2>Add a Burger to the menu:</h2>
<form class="create-form">

  <div class="form-group">
    <label for="burg">Burger Name:</label>
    <input type="text" id="burg" name="name">
  </div>

  <div class="form-group">
    <label for="devo">In stock now?</label><br>
    <input type="radio" name="devoured" value="0" checked> In stock now!<br>
    <input type="radio" name="devoured" value="1">Not yet in stock
  </div>

  <button type="submit">Add Burger</button>
</form>
